<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			  crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <style>
        .card{
			box-shadow: 0 0 20px #ccc;
    		margin: 1em;
			}
    </style>
</head>
<body class="bg-warning">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>What is {{ name }} ?</b>
                        </h4>
                        <p class="card-text">
                            {{ introduction }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>{{model.upvote}}
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>{{model.downvote}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>Symptoms</b>
                        </h4>
                        <p class="card-text">
                            {{ symptoms|truncatechars:250 }}
                            <a  data-toggle="collapse" href="#collapseSymptom" role="button">
                                Read More
                            </a>
                            <div class="collapse" id="collapseSymptom">
                                {{ symptoms }}
                            </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>{{model.upvote}}
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>{{model.downvote}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>Complications</b>
                        </h4>
                        <p class="card-text">
                            {{ complications|truncatechars:250 }}
                            <a data-toggle="collapse" href="#collapseComplication" role="button">
                              Read More
                            </a>
                            <div class="collapse" id="collapseComplication">
                                {{ complications }}
                            </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>{{model.upvote}}
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>{{model.downvote}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>Causes</b>
                        </h4>
                        <p class="card-text">
                            {{ causes|truncatechars:250 }}
                            <a data-toggle="collapse" href="#collapseCause" role="button">
                                Read More
                            </a>
                            <div class="collapse" id="collapseCause">
                                {{ causes }}
                            </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>{{model.upvote}}
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>{{model.downvote}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>Diagnosis</b>
                        </h4>
                        <p class="card-text">
                            {{ diagnosis|truncatechars:250}}
                            <a data-toggle="collapse" href="#collapseDiagnosis" role="button">
                                Read More
                            </a>
                            <div class="collapse" id="collapseDiagnosis">
                                {{ diagnosis }}
                            </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>{{model.upvote}}
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>{{model.downvote}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>